// Overwatch Color Pack
$orange: #FA9C1D;
$dark-gray: #303C42;
$white: #fff;
// Breakpoints
$break-small: 450px;
$break-large: 1200px;

$bg-image: '/imgs/hollywood_map.jpg';

html, body {
   height: 100%;
}

.App {
    text-align: center;
    background: url($bg-image) no-repeat center center;
    background-size: cover;
    height: 100vh;
    // width: 100%;
}